:root {
  --primary: #00a3ff;
  --dark-primary: #0085ff;
  --secondary: #ff007a;
  --gray: #e0e0e0;
  --dark-gray: #6e6e6e;
  --light-gray: #afafaf;
  --green: #5bff9d;
  --dark-green: #00959e;
  --yellow: #dd9d22;
  --white: #fff;
}

.btn {
  display: inline-grid;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid var(--primary);
  background: red;
}

section.main {
  display: flex;
  background: #000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
section.main img {
  height: 600px;
}

@media (max-width: 430px) {
  section.main img {
    height: 400px;
  }
}
