:root {
    --primary: #00a3ff;
    --dark-primary: #0085ff;
    --secondary: #ff007a;
    --gray: #e0e0e0;
    --dark-gray: #6e6e6e;
    --light-gray: #afafaf;
    --green: #5bff9d;
    --dark-green: #00959e;
    --yellow: #dd9d22;
    --white: #fff;
}

.btn{
    display: inline-grid;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid var(--primary);
    background: red;
}
